.u-label {
    display: block;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-bottom: 0.3rem;
}

.u-input, .u-textarea {
    width: 50%;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 1.1rem;
    letter-spacing: -0.25px;
    font-weight: 400;
    padding: 8px;
    margin-bottom: 1.25rem;
}

.g-recaptcha {
    margin-bottom: 1.25rem;
}
