body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 0.7rem;
}

p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.75rem;
}

a {
    color: mediumaquamarine;
    text-decoration: none;
    border-bottom: 2px dashed mediumaquamarine;
}

pre {
    padding: 1rem;
    border-radius: 8px;
    color: #fff;
    background: rgb(34, 34, 34);
    margin-bottom: 1.75rem;
}

code {
    border-radius: 8px;
    color: #fff;
    background: rgb(34, 34, 34);
    padding: 4px 7px;
}
