<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}" prefix="og: http://ogp.me/ns#">
{{ partial "head" . }}
<body>
    <header class="o-header">
        <a href="/" class="o-header__logo-container"><img src="/images/jansvabik-700px-optimized.jpg" alt="Jan Švábík" class="o-header__logo-image"></a>
        <nav class="o-nav">
            <ul class="o-nav__list">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ $active := "" }}
                    {{ if or (and (ne .URL "/") (hasPrefix $currentPage.RelPermalink .URL)) (eq $currentPage.RelPermalink .URL) }}
                        {{ $active = " o-nav__link--active" }}
                    {{ end }}
                    <li class="o-nav__item"><a href="{{ .URL }}" class="o-nav__link{{ $active }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>
        <div class="o-header__right-content">
            <a href="https://github.com/jansvabik" target="_blank" class="o-header__github-link">
                <span class="sr-only">GitHub</span>
            </a>
            <button class="js-toggle-nav o-header__nav-toggle-btn" type="button">
                <span class="sr-only">Zobrazit/skrýt navigaci</span>
            </button>
        </div>
    </header>
    <main class="o-main">
        {{ block "content" . }}{{ end }}
    </main>
    <footer class="o-footer">
        &copy; {{ now.Year }} Jan Švábík
    </footer>
    <script>
        // nav class changer when scrolled down
        var header = document.querySelector('header');
        window.addEventListener('scroll', function () { 
            if (window.scrollY >= header.offsetHeight) {
                header.classList.add('o-header--white');
            } else {
                header.classList.remove('o-header--white');
            }
        });

        // mobile nav toggling
        var toggleBtn = document.querySelector('.js-toggle-nav');
        var nav = document.querySelector('nav');
        toggleBtn.addEventListener('click', function () {
            nav.classList.toggle('o-nav--displayed');
        });
    </script>
</body>
</html>
