.c-blog-post {
    padding-top: 14rem;
    width: 760px;
    margin: 0 auto 5rem auto;
}

.c-blog-post__heading {
    font-size: 3.7rem;
    line-height: 5rem;
    margin-bottom: 5rem;
}

.c-blog-post__content h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.c-blog-post__content h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 0.7rem;
}

.c-blog-post__content p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.75rem;
}

.c-blog-post__content a {
    color: mediumaquamarine;
    text-decoration: none;
    border-bottom: 2px dashed mediumaquamarine;
}

.c-blog-post__content pre {
    padding: 1rem;
    border-radius: 8px;
    color: #fff;
    background: rgb(34, 34, 34);
    margin-bottom: 1.75rem;
}

.c-blog-post__content code {
    border-radius: 8px;
    color: #fff;
    background: rgb(34, 34, 34);
    padding: 4px 7px;
}
