.c-blog-post {
    padding-top: 10rem;
    width: 85%;
    margin: 0 auto 5rem auto;
    @include lg {
        width: 52.5%;
        padding-top: 14rem;
    }

    ul, ol {
        font-size: 1.1rem;
        margin-left: 3rem;
        margin-bottom: 2rem;
        @include lg {
            font-size: 1.3rem;
        }
    
        li {
            margin-bottom: 1rem;
        }
    }
}

.c-blog-post__heading {
    font-size: 2rem;
    line-height: 2.7rem;
    margin-bottom: 4rem;
    @include lg {
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 4rem;
    }
}

