.c-latest-posts {
    width: 90%;
    margin: -15vh auto 0 auto;
    @include lg {
        width: 80%;
    }
}

.c-latest-posts__heading {
    font-size: 1.5rem;
    margin-top: 0;
}

.c-latest-posts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.c-latest-posts__post {
    margin-right: auto;
    text-decoration: none;
    color: #000;
    background: #fff;
    flex-basis: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(224, 230, 236, 0.6); transition: 0.2s linear box-shadow;
    @include lg {
        flex-basis: 32%;
        margin-bottom: 0;
    }
    &--no-posts-info {
        flex-basis: 100%;
    }
}

.c-latest-posts__post-heading {
    font-size: 1.17rem;
    display: inline;
}

.c-latest-posts__post-link {
    color: #000;
    border-bottom: 0;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.c-latest-posts__post-preview {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    color: #333;
    line-height: 1.45rem;
    margin-bottom: 0;
    @include lg {
        font-size: 0.9rem;
    }
}

.c-latest-posts__buttons {
    text-align: center;
    margin-top: 2rem;
}

.c-latest-posts__post-tags {
    margin-top: 1rem;
}
