.c-posts {
    width: 95%;
    margin: 0 auto;
    @include lg {
        width: 75%;
        padding-top: 2rem;
    }
}

.c-posts__post {
    width: 100%;
    padding: 4rem 2rem;
    border-bottom: 1px solid #eee;
    @include lg {
        width: 66%;
    }
}

.c-posts__post-heading {
    margin-top: 0;
    font-size: 1.6rem;
}

.c-posts__post-link {
    color: #000;
    text-decoration: underline;
    border: 0;
    &:hover {
        text-decoration: none;
    }
}

.c-posts__post-preview {
    font-size: 1.1rem;
}

.c-posts__post-tags {
    margin-top: 1rem;
}

.c-posts__post-metas {
    display: block;
    margin-bottom: 1rem;
}
