.o-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
    padding: 0 10%;
    transition: 0.2s background-color;
}

.o-header__logo-container {
    display: flex;
    margin-right: 1.5rem;
}

.o-header__logo-image {
    width: 60px;
    height: 60px;
    border-radius: 1000px;
}

.o-header--white {
    background-color: white;
}
