.o-nav {
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    background: #fff;
    @include lg {
        position: initial;
        background: none;
        display: flex;        
        align-items: center;
    }
    &--displayed {
        display: block;
    }
}

.o-nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 0rem;
    @include lg {
        padding: 0;
        flex-direction: row;
    }
}

.o-nav__item {
    display: inline-block;
    margin: 0.5rem 0;
    text-align: center;
    @include lg {
        margin: 0 0 0 1.75rem;
    }
}

.o-nav__link {
    text-transform: uppercase;
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    font-size: 1.1rem;
    transition: border .2s;
    &:hover, &--active {
        border-bottom-color: #000;
    }
}
