<form action="https://forms.jetl.io/submission/j390q23ugcnbmzx9q8wtux3u289ty3/" enctype="multipart/form-data" method="POST">
    <label for="nameInput" class="u-label">Jméno</label>
    <input id="nameInput" type="text" name="Jméno" class="u-input" placeholder="Jan Kozel" required>

    <label for="emailInput" class="u-label">E-mail</label>
    <input id="emailInput" type="text" name="E-mail" class="u-input" placeholder="kozel@example.com" required>
    
    <label for="messageInput" class="u-label">Vaše zpráva</label>
    <textarea id="messageInput" name="Zpráva" rows="10" class="u-textarea" placeholder="Napište mi sem něco pěkného..." required></textarea>

    <input type="hidden" name="_ok" value="https://jansvabik.cz/dekuji/">
    <div class="g-recaptcha" data-sitekey="6LfoLhMUAAAAAIXmJLAoEccOa3qrIMfkrWnEaWMR"></div>
    <button type="submit" class="u-btn u-btn--primary">Odeslat zprávu</button>
</form>
