<form action="https://forms.jetl.io/v2/submission/630e80959e02340009587604/" enctype="multipart/form-data" method="POST">
    <label for="nameInput" class="u-label">Jméno</label>
    <input id="nameInput" type="text" name="Jméno" class="u-input" placeholder="Jan Kozel" autocomplete="name" required>

    <label for="emailInput" class="u-label">E-mail</label>
    <input id="emailInput" type="email" name="E-mail" class="u-input" placeholder="kozel@example.com" autocomplete="email" required>

    <div class="sr-only">
        <label for="hpInput" class="u-label">Pokud jste člověk, nechte následující pole prázdné</label>
        <input id="hpInput" type="email" name="hpEmail" class="u-input" placeholder="kozel@example.com" tabindex="-1" autocomplete="nopls">
    </div>
    
    <label for="messageInput" class="u-label">Vaše zpráva</label>
    <textarea id="messageInput" name="Zpráva" rows="10" class="u-textarea" placeholder="Napište mi sem něco pěkného..." required></textarea>

    <input type="hidden" name="_ok" value="https://jansvabik.cz/dekuji/">
    <div class="g-recaptcha" data-sitekey="6LfoLhMUAAAAAIXmJLAoEccOa3qrIMfkrWnEaWMR"></div>
    <button type="submit" class="u-btn u-btn--primary">Odeslat zprávu</button>
</form>
